Repository amirakarchoud/ProjetGestionDesCRA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, dockerise_backend, dockerise_frontend, deploy_backend, deploy_frontend

build_backend:
  stage: build
  tags:
  - docker
  before_script:
  - - .nexus_auth
    - before_script
  script:
  - export CI=false
  - cd $CI_PROJECT_DIR/back
  - npm ci
  - npm run build
  artifacts:
    untracked: false
    when: on_success
    expire_in: 1 hours
    paths:
    - $CI_PROJECT_DIR/back/dist
    - $CI_PROJECT_DIR/ci_configs

build_frontend:
  stage: build
  tags:
  - docker
  before_script:
  - - .nexus_auth
    - before_script
  script:
  - export CI=false
  - cd $CI_PROJECT_DIR/front
  - npm ci
  - npm run build
  artifacts:
    untracked: false
    when: on_success
    expire_in: 1 hours
    paths:
    - $CI_PROJECT_DIR/front/build
    - $CI_PROJECT_DIR/ci_configs

dockerise_backend:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  tags:
  - docker
  variables:
    GIT_STRATEGY: none
    IMAGE_NAME: backend
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

dockerise_frontend:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  tags:
  - docker
  variables:
    GIT_STRATEGY: none
    IMAGE_NAME: frontend
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

deploy_backend:
  image: gitlab-registry.proxym-group.net/docker/helm:3
  tags:
  - docker
  before_script:
  - kubectl config set-cluster k8s --server="${K8S_SERVER}"
  - kubectl config set clusters.k8s.certificate-authority-data ${K8S_CA_DATA}
  - kubectl config set-credentials gitlab --token="${K8S_USER_TOKEN}"
  ...

deploy_frontend:
  image: gitlab-registry.proxym-group.net/docker/helm:3
  tags:
  - docker
  before_script:
  - kubectl config set-cluster k8s --server="${K8S_SERVER}"
  - kubectl config set clusters.k8s.certificate-authority-data ${K8S_CA_DATA}
  - kubectl config set-credentials gitlab --token="${K8S_USER_TOKEN}"
  ...

feat: week activities
  back/src/app.module.ts
  back/src/controllers/cra.controller.ts
  back/src/controllers/export.controller.ts
  back/src/domain/model/CRA.ts
  back/src/domain/model/date-provider.ts
  back/src/dtos/activity.dto.ts
  back/test/CRA.spec.ts
  back/test/cra-dto.mapper.spec.ts
  back/test_e2e/cra.controller.spec.ts
  back/test_e2e/project.controller.spec.ts
  back/test_e2e/test.utils.ts
Due: build_backend, dockerise_backend, deploy_backend

fix: fetch projects per user is always empty
  back/src/controllers/project.controller.ts
  back/src/domain/IRepository/IRepoProject.ts
  back/src/domain/application/craApplication.ts
  back/src/repositories/project.repository.ts
Due: build_backend, dockerise_backend, deploy_backend

chore: cleaned up tests and refactored code
  back/src/controllers/cra.controller.ts
  back/src/domain/model/CRA.ts
  back/src/domain/service/cra.service.ts
  back/test/Absence.spec.ts
  back/test/Activite.spec.ts
  back/test/CRA.spec.ts
  back/test/cra-dto.mapper.spec.ts
  back/test/utils.ts
  back/test_e2e/app.spec.ts
  back/test_e2e/cra.controller.spec.ts
  back/test_e2e/test.utils.ts
Due: build_backend, dockerise_backend, deploy_backend

feat: added bulk add for month
  .gitignore
  back/src/app.module.ts
  back/src/controllers/Holiday.controller.ts
  back/src/controllers/auth.controller.ts
  back/src/controllers/collab.controller.ts
  back/src/controllers/cra.controller.ts
  back/src/controllers/project.controller.ts
  back/src/domain/application/cra.application.ts
  back/src/domain/application/craApplication.ts
  back/src/domain/model/CRA.ts
  back/src/domain/service/cra.service.ts
  back/src/dtos/activity.dto.ts
  back/src/dtos/project.simple.dto.ts
  back/src/mappers/cra-dto.mapper.ts
  back/test/CRA.spec.ts
  back/test/cra-dto.mapper.spec.ts
  back/test/cra.bulk.spec.ts
  back/test_e2e/app.spec.ts
  back/test_e2e/cra.controller.spec.ts
  back/test_e2e/holidays.spec.ts
  back/test_e2e/project.controller.spec.ts
  back/test_e2e/test.utils.ts
Due: build_backend, dockerise_backend, deploy_backend

chore: e2e tests use supertest (http client)
  back/package.json
  back/src/controllers/cra.controller.ts
  back/src/dtos/activity.dto.ts
  back/src/main.ts
  back/src/mappers/cra-dto.mapper.ts
  back/src/repositories/cra.repository.ts
  back/src/repositories/project.repository.ts
  back/test/cra-dto.mapper.spec.ts
  back/test_e2e/cra.controller.spec.ts
  back/test_e2e/project.controller.spec.ts
  back/test_e2e/test.utils.ts
Due: build_backend, dockerise_backend, deploy_backend

fix: package lock regenerated
  back/package-lock.json
Due: build_backend, dockerise_backend, deploy_backend

refactor: created v2 activity report controller
  back/src/app.module.ts
  back/src/controllers/v2/activity-report.controller.ts
  back/src/controllers/v2/dto/activity-report.dto.ts
  back/test_e2e/cra.controller.spec.ts
  back/test_e2e/v2/activity-report.spec.ts
Due: build_backend, dockerise_backend, deploy_backend

chore: added es restriction for Date global
  back/.eslintrc.js
Due: build_backend, dockerise_backend, deploy_backend

chore: employees v2 controller
  back/src/app.module.ts
  back/src/controllers/v2/activity-report.controller.ts
  back/src/controllers/v2/dto/activity-report.dto.ts
  back/src/controllers/v2/dto/create-employee.dto.ts
  back/src/controllers/v2/employee.controller.ts
  back/src/domain/application/cra.application.ts
  back/src/domain/model/Collab.ts
  back/test_e2e/v2/activity-report.spec.ts
  back/test_e2e/v2/employee.controller.spec.ts
  docker/docker-compose.yaml
Due: build_backend, dockerise_backend, deploy_backend

chore: activity report v2 controller
  back/src/controllers/v2/activity-report.controller.ts
  back/src/controllers/v2/dto/activity-report.dto.ts
  back/src/controllers/v2/dto/create-employee.dto.ts
  back/src/controllers/v2/dto/employee.dto.ts
  back/src/controllers/v2/dto/month-activity.dto.ts
  back/src/controllers/v2/employee.controller.ts
  back/src/controllers/v2/mappers/employee.mapper.ts
  back/src/controllers/v2/mappers/month-activity.mapper.ts
  back/src/dtos/activity.dto.ts
  back/src/dtos/available.date.dto.ts
  back/src/mappers/cra-dto.mapper.ts
  back/test_e2e/test.utils.ts
  back/test_e2e/v2/activity-report.spec.ts
Due: build_backend, dockerise_backend, deploy_backend

chore(tests): added unit test for 5th of next month
  back/test/CRA.spec.ts
Due: build_backend, dockerise_backend, deploy_backend

feat: Architetcture restructuration && Lazy-loding && Hearder/Navigation components
  back/.env_docker_mac
  back/.env_test_mac
  back/package-lock.json
  back/package.json
  front/jsconfig.json
  front/package-lock.json
  front/public/images/logo-crapp.svg
  front/public/index.html
  front/src/App.js
  front/src/Components/Header.js
  front/src/Components/Navigation.js
  front/src/Components/styles/Header.module.css
  front/src/Components/styles/Navigation.module.css
  front/src/Utils/Routes.js
  front/src/Views/ActivityReport/ActivityReport.js
  front/src/Views/Admin/RecapAdmin.js
  front/src/Views/Auth/AuthProvider.js
  front/src/Views/Auth/Login.js
  front/src/Views/Auth/ProtectedRoute.js
  front/src/Views/Calendar/Calendar.js
  front/src/Views/Calendar/ConfirmationDelete.js
  front/src/Views/Calendar/Details.js
  front/src/Views/Calendar/RecapCraCollab.js
  front/src/Views/Calendar/custom-calendar.css
  front/src/Views/NotFound/NotFound.js
  front/src/Views/Projects/addProject.js
  front/src/Views/Projects/project.js
  front/src/Views/Projects/projectDetails.js
  front/src/Views/Projects/updateProject.js
  front/src/index.js
  front/src/mui-proxym-theme.js
Due: build_backend, build_frontend, dockerise_backend, dockerise_frontend, deploy_backend, deploy_frontend

fix: forbidden date
  back/package-lock.json
  back/package.json
  back/src/domain/application/cra.application.ts
  back/src/domain/model/Absence.ts
  back/src/domain/model/AbsenceRule.ts
  back/src/domain/model/Activity.ts
  back/src/domain/model/ActivityRule.ts
  back/src/domain/model/CRA.ts
  back/src/domain/model/CRAClosureRule.ts
  back/src/domain/model/NotWeekendRule.ts
  back/src/domain/model/ProjectActivity.ts
  back/src/domain/model/ProjectActivityRule.ts
  back/src/domain/model/date.utils.ts
  back/src/mappers/cra-dto.mapper.ts
  back/test/Absence.spec.ts
  back/test/Activite.spec.ts
  back/test/CRA.spec.ts
  back/test/cra-dto.mapper.spec.ts
  back/test/cra.bulk.spec.ts
  back/test_e2e/app.spec.ts
Due: build_backend, dockerise_backend, deploy_backend

fix(cicd): add integration jobs and linter in pipeline
  .eslintrc.json
  .gitlab-ci.yml
  .husky/commit-msg
  back/.eslintrc.js
  back/src/controllers/collab.controller.ts
  back/src/controllers/cra.controller.ts
  back/src/controllers/v2/activity-report.controller.ts
  back/src/domain/model/AbsenceRule.ts
  back/src/domain/model/Activity.ts
  back/src/domain/model/ActivityRule.ts
  back/src/domain/model/CRA.ts
  back/src/domain/model/CRAClosureRule.ts
  back/src/domain/model/NotWeekendRule.ts
  back/src/domain/model/ProjectActivity.ts
  back/src/domain/model/ProjectActivityRule.ts
  back/src/repositories/project.repository.ts
  back/src/services/holidays-sync.service.ts
  back/test_e2e/collab.repo.mock.ts
  back/test_e2e/cra.controller.spec.ts
  back/test_e2e/cra.repo.mock.ts
  back/test_e2e/mock-holiday-fetch.service.ts
  commitlint.config.js
  gitlab-includes.yml
  package-lock.json
  package.json
Due: build_backend, dockerise_backend, deploy_backend

chore: project v2 controller
  README.md
  back/src/app.module.ts
  back/src/controllers/project.controller.ts
  back/src/controllers/v2/activity-report.controller.ts
  back/src/controllers/v2/employee.controller.ts
  back/src/controllers/v2/project-v2.controller.ts
  back/src/domain/application/cra.application.ts
  back/src/domain/model/Project.ts
  back/src/domain/model/projetStatus.enum.ts
  back/src/dtos/project.dto.ts
  back/src/dtos/project.simple.dto.ts
  back/src/dtos/v2/activity-report.dto.ts
  back/src/dtos/v2/create-employee.dto.ts
  back/src/dtos/v2/employee.dto.ts
  back/src/dtos/v2/month-activity.dto.ts
  back/src/mappers/v2/employee.mapper.ts
  back/src/mappers/v2/month-activity.mapper.ts
  back/src/mappers/v2/project.mapper.ts
  back/src/repositories/project.repository.ts
  back/test/Activite.spec.ts
  back/test/CRA.spec.ts
  back/test/Collab.spec.ts
  back/test/Projet.spec.ts
  back/test/cra-dto.mapper.spec.ts
  back/test_e2e/app.spec.ts
  back/test_e2e/project.controller.spec.ts
  back/test_e2e/test.utils.ts
  back/test_e2e/v2/activity-report.spec.ts
  back/test_e2e/v2/employee.controller.spec.ts
  back/test_e2e/v2/project-v2.controller.spec.ts
  cra-docs/docs/Structure.md
Due: build_backend, dockerise_backend, deploy_backend

fix: renamed collabs to employees in dto
  back/package.json
  back/src/dtos/activity.dto.ts
  back/src/dtos/project.dto.ts
  back/src/dtos/v2/activity-report.dto.ts
  back/src/mappers/v2/project.mapper.ts
  back/test_e2e/project.controller.spec.ts
  back/test_e2e/v2/project-v2.controller.spec.ts
  docker/docker-compose.yaml
Due: build_backend, dockerise_backend, deploy_backend

fix: better error handling
  .eslintrc.json
  back/src/controllers/v2/activity-report.controller.ts
  back/src/controllers/v2/employee.controller.ts
  back/src/controllers/v2/project-v2.controller.ts
  back/src/domain/application/cra.application.ts
  back/src/domain/application/errors/application.error.ts
  back/src/domain/model/Absence.ts
  back/src/domain/model/Activity.ts
  back/src/domain/model/CRA.ts
  back/src/domain/model/Holiday.ts
  back/src/domain/model/Project.ts
  back/src/domain/model/ProjectActivity.ts
  back/src/domain/model/errors/absence.error.ts
  back/src/domain/model/errors/activity-report.error.ts
  back/src/domain/model/errors/activity.error.ts
  back/src/domain/model/errors/holiday.error.ts
  back/src/domain/model/errors/project.error.ts
  back/src/domain/model/errors/user.error.ts
  back/src/dtos/deleteActivityAbsenceDto.ts
  back/src/dtos/project.dto.ts
  back/src/repositories/collab.repository.ts
  back/src/repositories/project.repository.ts
Due: build_backend, dockerise_backend, deploy_backend

fix: project exists validation
  back/src/domain/application/cra.application.ts
  back/src/repositories/project.repository.ts
Due: build_backend, dockerise_backend, deploy_backend

feat: activity report page
  cra-docs/.docusaurus/client-modules.js
  front/babel.config.js
  front/package-lock.json
  front/package.json
  front/src/App.js
  front/src/Components/Header.js
  front/src/Components/Navigation.js
  front/src/Components/models/ActivityReport.js
  front/src/Components/ui/ActivityReportTable.jsx
  front/src/Components/ui/Header.jsx
  front/src/Components/ui/Navigation.jsx
  front/src/Components/ui/TableBanner.jsx
  front/src/Components/ui/TableItem.jsx
  front/src/Components/ui/TableSelect.jsx
  front/src/Components/ui/TableSelection.jsx
  front/src/Components/ui/Title.jsx
  front/src/Components/ui/styles/ActivityReportTable.module.css
  front/src/Components/ui/styles/Header.module.css
  front/src/Components/ui/styles/Navigation.module.css
  front/src/Components/ui/styles/Title.module.css
  front/src/Views/ActivityReport.js
  front/src/Views/ActivityReport/ActivityReport.js
  front/src/Views/styles/ActivityReport.module.css
  front/test/ActivityReportTable.spec.js
Due: build_frontend, dockerise_frontend, deploy_frontend

feat: conditional table banner omponent
  front/src/Components/models/ActivityReport.js
  front/src/Components/ui/ActivityReportTable.jsx
  front/src/Components/ui/ActivityReportTable/TableAbsences.jsx
  front/src/Components/ui/ActivityReportTable/TableActions.jsx
  front/src/Components/ui/ActivityReportTable/TableBanner.jsx
  front/src/Components/ui/ActivityReportTable/TableItem.jsx
  front/src/Components/ui/ActivityReportTable/TableProjects.jsx
  front/src/Components/ui/ActivityReportTable/TableSelect.jsx
  front/src/Components/ui/ActivityReportTable/TableSelection.jsx
  front/src/Components/ui/ActivityReportTable/TableValidation.jsx
  front/src/Components/ui/TableBanner.jsx
  front/src/Components/ui/styles/ActivityReportTable.module.css
  front/src/Components/ui/styles/Title.module.css
  front/test/ActivityReportTable.spec.js
Due: build_frontend, dockerise_frontend, deploy_frontend

feat: fetch data from API
  back/src/domain/application/cra.application.ts
  back/src/domain/model/Raison.ts
  back/src/domain/service/export.service.ts
  back/src/dtos/activity.dto.ts
  back/src/dtos/v2/month-activity.dto.ts
  back/src/mappers/cra-dto.mapper.ts
  back/src/mappers/v2/month-activity.mapper.ts
  back/test/CRA.spec.ts
  back/test/Regul.spec.ts
  back/test/cra-dto.mapper.spec.ts
  back/test_e2e/cra.controller.spec.ts
  back/test_e2e/cra.repo.mock.ts
  features/cra.feature
  front/src/Components/models/ActivityReport.js
  front/src/Components/ui/ActivityReportTable.jsx
  front/src/Components/ui/ActivityReportTable/TableAbsences.jsx
  front/src/Components/ui/ActivityReportTable/TableActions.jsx
  front/src/Components/ui/ActivityReportTable/TableBanner.jsx
  front/src/Components/ui/ActivityReportTable/TableItem.jsx
  front/src/Components/ui/ActivityReportTable/TableProjects.jsx
  front/src/Components/ui/ActivityReportTable/TableSelect.jsx
  front/src/Components/ui/ActivityReportTable/TableSelection.jsx
  front/src/Components/ui/styles/ActivityReportTable.module.css
  front/test/ActivityReportTable.spec.js
Due: build_backend, build_frontend, dockerise_backend, dockerise_frontend, deploy_backend, deploy_frontend

fix: npe when empty cra
  back/src/controllers/v2/activity-report.controller.ts
  back/src/domain/application/cra.application.ts
  back/src/domain/model/Collab.ts
  back/src/dtos/v2/month-activity.dto.ts
  back/src/repositories/collab.repository.ts
  front/src/Components/ui/ActivityReportTable.jsx
Due: build_backend, build_frontend, dockerise_backend, dockerise_frontend, deploy_backend, deploy_frontend

fix: bulk add
  back/src/controllers/v2/activity-report.controller.ts
  back/src/domain/model/CRA.ts
  back/src/dtos/activity.dto.ts
  back/src/repositories/project.repository.ts
  back/test_e2e/cra.controller.spec.ts
  back/test_e2e/v2/activity-report.spec.ts
  back/test_e2e/v2/project-v2.controller.spec.ts
Due: build_backend, dockerise_backend, deploy_backend

fix: available dates calculation
  back/src/domain/model/CRA.ts
  back/test/CRA.spec.ts
  back/test/cra-dto.mapper.spec.ts
  back/test/utils.ts
  back/test_e2e/project.controller.spec.ts
Due: build_backend, dockerise_backend, deploy_backend

feat: create/update/delete absence
  back/src/dtos/activity.dto.ts
  front/src/Components/models/ActivityReport.js
  front/src/Components/ui/ActivityReportTable.jsx
  front/src/Components/ui/ActivityReportTable/TableAbsences.jsx
  front/src/Components/ui/ActivityReportTable/TableBanner.jsx
  front/src/Components/ui/ActivityReportTable/TableProjects.jsx
  front/src/Components/ui/ActivityReportTable/TableSelection.jsx
  front/src/Components/ui/styles/ActivityReportTable.module.css
  front/test/ActivityReportTable.spec.js
Due: build_backend, build_frontend, dockerise_backend, dockerise_frontend, deploy_backend, deploy_frontend

chore: better activity error handling
  back/src/domain/model/AbsenceRule.ts
  back/src/domain/model/Activity.ts
  back/src/domain/model/ActivityRule.ts
  back/src/domain/model/CRA.ts
  back/src/domain/model/CRAClosureRule.ts
  back/src/domain/model/NotWeekendRule.ts
  back/src/domain/model/ProjectActivityRule.ts
  back/test/CRA.spec.ts
  back/test_e2e/app.spec.ts
  back/test_e2e/cra.controller.spec.ts
  back/test_e2e/v2/activity-report.spec.ts
Due: build_backend, dockerise_backend, deploy_backend

chore: create emty non-persisted cra for future dates
  back/src/controllers/v2/activity-report.controller.ts
  back/src/domain/application/cra.application.ts
Due: build_backend, dockerise_backend, deploy_backend

fix: eslint for backend in cra.controller.spec.ts
  back/test_e2e/cra.controller.spec.ts
Due: build_backend, dockerise_backend, deploy_backend

fix: fetching holidays for three years
  back/src/services/holidays-sync.service.ts
Due: build_backend, dockerise_backend, deploy_backend

feat: validate week activities
  back/src/domain/model/Raison.ts
  back/test_e2e/holidays.spec.ts
  front/package-lock.json
  front/package.json
  front/src/Components/const/ActivityReport.constant.js
  front/src/Components/models/ActivityReport.js
  front/src/Components/ui/ActivityReportTable.jsx
  front/src/Components/ui/ActivityReportTable/TableAbsences.jsx
  front/src/Components/ui/ActivityReportTable/TableBanner.jsx
  front/src/Components/ui/ActivityReportTable/TableProjects.jsx
  front/src/Components/ui/ActivityReportTable/TableSelection.jsx
  front/src/Components/ui/ActivityReportTable/TableValidation.jsx
  front/src/Components/ui/styles/ActivityReportTable.module.css
  front/src/Components/ui/styles/Title.module.css
  front/src/Services/ActivityReport.api.js
  front/src/Services/Mappers/fetchActivities.mapper.js
  front/src/Services/Mappers/postActivities.mapper.js
  front/test/ActivityReportTable.spec.js
Due: build_backend, build_frontend, dockerise_backend, dockerise_frontend, deploy_backend, deploy_frontend

feat: notifications handler
  front/src/Components/models/ActivityReport.js
  front/src/Components/ui/ActivityReportTable.jsx
  front/src/Services/api/ActivityReport.api.js
  front/src/Services/handlers/NotificationsHandler.js
  front/src/Services/mappers/fetchActivities.mapper.js
  front/src/Services/mappers/postActivities.mapper.js
Due: build_frontend, dockerise_frontend, deploy_frontend

feat: handle get/post week inbetween two months
  back/src/controllers/cra.controller.ts
  back/src/controllers/project.controller.ts
  back/src/domain/application/cra.application.ts
  back/src/domain/model/CRA.ts
  back/src/domain/model/State.enum.ts
  back/src/domain/model/etat.enum.ts
  back/src/dtos/cra.dto.ts
  back/src/dtos/v2/month-activity.dto.ts
  back/src/mappers/cra-dto.mapper.ts
  back/src/mappers/v2/month-activity.mapper.ts
  back/test/CRA.spec.ts
  back/test/cra-dto.mapper.spec.ts
  back/test/utils.ts
  front/src/Components/const/ActivityReport.constant.js
  front/src/Components/models/ActivityReport.js
  front/src/Components/ui/ActivityReportTable.jsx
  front/src/Components/ui/ActivityReportTable/TableAbsences.jsx
  front/src/Components/ui/ActivityReportTable/TableActions.jsx
  front/src/Components/ui/ActivityReportTable/TableBanner.jsx
  front/src/Components/ui/ActivityReportTable/TableProjects.jsx
  front/src/Components/ui/ActivityReportTable/TableSelection.jsx
  front/src/Components/ui/ActivityReportTable/TableValidation.jsx
  front/src/Components/ui/styles/ActivityReportTable.module.css
  front/src/Services/api/ActivityReport.api.js
  front/src/Services/handlers/NotificationsHandler.js
  front/src/Services/mappers/fetchActivities.mapper.js
  front/src/Services/mappers/postActivities.mapper.js
  front/test/ActivityReportTable.spec.js
Due: build_backend, build_frontend, dockerise_backend, dockerise_frontend, deploy_backend, deploy_frontend

fix: fetching holidays for three years
  back/src/domain/model/Activity.ts
  back/src/domain/model/CRA.ts
  back/src/domain/model/ProjectActivity.ts
  back/src/domain/model/WithinDatesRule.ts
  back/test/CRA.spec.ts
  back/test/cra-dto.mapper.spec.ts
  back/test/utils.ts
Due: build_backend, dockerise_backend, deploy_backend

fix: adding absences in the future
  back/src/domain/model/Activity.ts
  back/src/domain/model/CRAClosureRule.ts
Due: build_backend, dockerise_backend, deploy_backend

chore: added back e2e test for activity in the future
  back/test_e2e/v2/activity-report.spec.ts
Due: build_backend, dockerise_backend, deploy_backend

Path conditions:
  build_backend: any of: back/**/*
  build_frontend: any of: front/**/*
  dockerise_backend: any of: back/**/*
  dockerise_frontend: any of: front/**/*
  deploy_backend: any of: back/**/*
  deploy_frontend: any of: front/**/*
